.card {
    height: 300px;
    width: 100px;
    background-image: url("https://www.bitdegree.org/storage/file-359783-DS7MvCB9RZiXMnvB.jpg");
    background-size: cover;
    position: relative;
}
.card2 {
    height: 300px;
    width: 100px;
    background-image: url("https://www.bitdegree.org/storage/file-359783-DS7MvCB9RZiXMnvB.jpg");
    background-size: cover;
    top: -250px;
    left: 50px;
  }
.card3 {
    height: 300px;
    Width: 100px;
    background-image: url("https://www.bitdegree.org/storage/file-359783-DS7MvCB9RZiXMnvB.jpg");
    background-size: cover;
    top: 120px;
    left: 100px;
}
.card4 {
    height: 300px;
    Width: 100px;
    background-image: url("https://www.bitdegree.org/storage/file-359783-DS7MvCB9RZiXMnvB.jpg");
    background-size: cover;
    top: -750px;
    left: 150px;
}