.first-link{
    border: 2px solid green;
  }
  .second-link{
    border:2px solid pink;
  }
  .third-link{
   border:2px solid orange;
  }
  .fourth-link{
   border:2px solid yellow;
  }
  .last-link{
   border:2px solid black;
  }